<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,90},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,90},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,180},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,180},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,270},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,270},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,360},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,360},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,450},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,450},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,450},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,540},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,540},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,540},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,630},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,630},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,630},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,720},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,720},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,720},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,810},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,810},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,810},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,900},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,900},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,900},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,990},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{80,990},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{160,990},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{0,1080},{80,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LeftPaiList_H.png</string>
            <key>size</key>
            <string>{240,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f9e8a62140b93f70fbc6cb12537a5a2:27bf99d2c32b6638b8177d368f57646b:7374038408910b0ab9ef257a2cb0997e$</string>
            <key>textureFileName</key>
            <string>LeftPaiList_H.png</string>
        </dict>
    </dict>
</plist>
