<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,900},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,900},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainBinList.png</string>
            <key>size</key>
            <string>{910,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e6ea05c7f38029bb64a803f1140626a:b94b86e06962551986be4f95125e1d17:3565722b19d80b4bd870d602e4262982$</string>
            <key>textureFileName</key>
            <string>mainBinList.png</string>
        </dict>
    </dict>
</plist>
