<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,90},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,90},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,180},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,180},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,270},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,270},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,360},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,360},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,450},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,450},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,450},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,540},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,540},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,540},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,630},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,630},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,630},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,720},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,720},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s5r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,720},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,810},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,810},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,810},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,900},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,900},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,900},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,990},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,990},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{140,990},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{0,1080},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{70,90}</string>
                <key>textureRect</key>
                <string>{{70,1080},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainFulouList.png</string>
            <key>size</key>
            <string>{210,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bffec4d215933cfb7f4c9cd0cf19e2e:78a41fe6f8b2ae4a36390fc9d2a48696:71fa700402a1670b8e4d423a0a9e2818$</string>
            <key>textureFileName</key>
            <string>mainFulouList.png</string>
        </dict>
    </dict>
</plist>
